<!DOCTYPE html>
@using ThemeRes = Resources.Resource
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Exercise Network</title>
    @Scripts.Render("~/bundles/modernizr")

    @if (Request.Cookies["Theme"] != null)
    {
        @Styles.Render(@String.Format("~/Content/{0}css", Request.Cookies["Theme"].Value))
    }
    else
    {
        @Styles.Render("~/Content/lightcss")
    }

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/infinite-scrolling.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ExerNet", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resource.About, "About", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Contact, "Contact", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resource.CreateTask, "CreateTask", "Task")</li>
                    <li>@Html.ActionLink("Post", "PostTask/67", "Task")</li>
                </ul>
                @using (Html.BeginForm("FullTextSearching", "Task", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                {
                    <input type="text" name="searchText" class="form-control col-lg-8" placeholder="Search">
                }
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.Theme<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="~/Culture/SetTheme?theme=light" rel="stylesheet">@Resources.Resource.ThemeLight</a></li>
                            <li><a href="~/Culture/SetTheme?theme=dark" rel="stylesheet">@Resources.Resource.ThemeDark</a></li>
                            <li><a href="~/Culture/SetTheme?theme=color" rel="stylesheet">@Resources.Resource.ThemeColored</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.ChooseLang<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Culture/ChangeCulture?lang=ru" rel="stylesheet">Русский</a></li>
                            <li><a href="~/Culture/ChangeCulture?lang=en" rel="stylesheet">English</a></li>
                        </ul>
                    </li>
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            @*navbar-fixed-bottom btn btn-default btn-xs*@
            <div class="container ">
                <hr />
                <p>&copy; @DateTime.Now.Year - @Resources.Resource.Developerx &amp; @Resources.Resource.Developery</p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
