<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Exercise Network</title>
    @if(cookie["theme"]==''){  @Styles.Render("~/Content/darkcss")  }else{  @Styles.Render("~/Content/lightcss") }
 
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ExerNet", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Theme</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Light</a></li>
                    <li><a href="#">Dark</a></li>
                    @if(coo){}
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kalenik Maxim &amp; Dmitryi Zheltko</p>
        </footer>
    </div>

    <div>
        @using (Html.BeginForm("ChangeCulture", "Culture"))
        {
            <select name="lang">
                <option disabled selected>@Resources.Resource.ChooseLang</option>
                <option value="ru">Русский</option>
                <option value="en">English</option>
            </select>
            <input type="submit" name="submit" value="@Resources.Resource.ChooseLang">
        }
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
