@model List<Exernet.Models.ExernetTask>
@foreach(var item in Model){
<div class="item col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading" style="word-break:break-all;">@item.Title by @Html.ActionLink(item.User.UserName, "Details", "User", routeValues: new { id = item.User.UserName }, htmlAttributes: new { title = String.Format("{0} account page", item.User.UserName) })</div>
        <div class="panel-body">
            @item.Text
            @foreach (var im in @item.Images)
            {
                <img src="@im.ImageURL" width="400" class="img-thumbnail" />
            }
        </div>
    </div>
</div>
}