@using Exernet;
@model Exernet.Models.ExernetTask
<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.Title = "PostTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Model.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>@Model.Title</h1>
                <div class="row">
                    <div class="col-md-8">
                        <p class="lead">
                            by @Html.ActionLink(Model.User.UserName, "Details", "User", routeValues: new { id = Model.User.UserName }, htmlAttributes: new { title = String.Format("{0} account page", Model.User.UserName) })
                        </p>
                    </div>
                    <div class="col-md-4" align="right">
                        @foreach (var str in Model.Tags.Select(obj => obj.Text))
                        {
                            <span class="label label-primary">@str</span>
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div><p><span class="glyphicon glyphicon-time"></span> Posted on @Model.UploadDate </p></div>
                    </div>
                    <div class="col-md-4" align="right">
                        <div><p><span class="glyphicon glyphicon-fire"></span> Category: @Model.Category  </p></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        @Html.ActionLink("EditTask", "EditTask", "Task", routeValues: new { id = Model.Id }, htmlAttributes: new { title = "Manage", @class = "btn btn-default btn-xs" })
                    </div>
                    <div class="col-md-6" align=right>
                        @Html.ActionLink("EditTask", "EditTask", "Task", routeValues: new { id = Model.Id }, htmlAttributes: new { title = "Manage", @class = "btn btn-default btn-xs" })
                    </div>
                </div>

                <hr>

                <p class="lead">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@MarkdownHelper.Markdown(Model.Text)))
                    <hr>

                    @if (Model.Videos.Count > 0)
                    {
                        foreach (var str in Model.Videos.Select(obj => obj.VideoURL))
                        {
                            <iframe width="560" height="315" src=@str frameborder="0" allowfullscreen></iframe>
                            <hr>
                        }
                    }
                    
                    

                    <div class="well">
                        <h4>Leave a Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <hr>
                    <div class="media">
                        <a class="pull-left" href="#">
                        </a>
                    </div>
            </div>
        </div>
        <hr>
    </div>

    

</body>
</html>
