@using Microsoft.AspNet.Identity
@model Exernet.Models.ShowUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Account page.</h3>
<hr/>
<div class="well row">
    <div class="col-md-2">
        @if (Model.ProfileFotoURL != null) 
        {
            <img class="pic img-circle" src="@Model.ProfileFotoURL" alt="No profile foto found" /> 
        }
        else
        {
            <img class="pic img-circle" src="http://res.cloudinary.com/goodcloud/image/upload/v1407491904/Exernet/blue-user-icon.png" alt="No profile foto found" />
        }
        
    </div>
    <div class="col-md-4">
        <h2>@Model.UserName</h2>
        <h4>e-mail: @Model.Email</h4>
        @if (@User.Identity.IsAuthenticated && @Model.UserName.Equals(@User.Identity.Name))
        {
        @Html.ActionLink("Change password", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-default btn-xs" })
        <div class="btn btn-xs btn-primary" style="margin:10px;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-picture"></span> Change profile picture</div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload new profile photo</h4>
                    </div>
                    
                    @using (Html.BeginForm("Details", "User", new { id=@User.Identity.Name}, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="modal-body">
                            <form class="form-group">
                                <fieldset>
                                    <input type="file" name="fileUpload" accept="image/*" class="btn btn-default" title="Choose image" />
                                </fieldset>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save picture</button>
                        </div>
                     }
                </div>
            </div>
        </div>
        }
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">@Model.TasksQuantity</span>
                Number of uploaded tasks
            </li>
            <li class="list-group-item">
                <span class="badge">@Model.SolutionsQuantity</span>
                Number of trys to solve tasks
            </li>
            <li class="list-group-item">
                <span class="badge">@Model.ResolvedTasksQuantity</span>
                Solved tasks
            </li>
            <li class="list-group-item">
                <span class="badge">@Model.Rating</span>
                Rating
            </li>
        </ul>
    </div>
</div>
<div class="row">
    @if (@User.Identity.IsAuthenticated && @Model.UserName.Equals(@User.Identity.Name))
    {
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
  <li class=""><a href="#solutions" data-toggle="tab">Solutions</a></li>
</ul>
<div id="content" class="tab-content">
    <div class="tab-pane fade active in" id="tasks">
        <div id="postswrapper">
            <a id="@Model.UserName"/>
            @{Html.RenderAction("ViewListOfTasks", "User", new { Model = Model.Tasks });}
            <div id="loadmoreajaxloader" style="display:none;"><center><img src="~/Scripts/ajax-loader.gif" /></center></div>
        </div>
    </div>
    <div class="tab-pane fade active in" id="solutions">
        <div id="postswrapper">
            @foreach (var p in @Model.Solutions)
                {
                    <div class="item">
                    </div>
                }
            <div id="loadmoreajaxloader" style="display:none;"><center><img src="~/Scripts/ajax-loader.gif" /></center></div>
        </div>
    </div>
</div>
    }
    else 
    { 
        <h2>Tasks</h2>
        <hr/>
        <div class="tab-pane fade active in" id="tasks">
        <div id="postswrapper">
            <a id="@Model.UserName"/>
            @{Html.RenderAction("ViewListOfTasks", "User", new { Model = Model.Tasks });}
            <div id="loadmoreajaxloader" style="display:none;"><center><img src="~/Scripts/ajax-loader.gif" /></center></div>
        </div>
    </div>
    }
</div>

<script src="~/Scripts/infinite-scrolling.js"></script>

